Repository pixel-point/gatsby-tailwind-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore, markdownlint --fix --ignore-path .gitignore

chore: remove gatsby-plugin-sass dependency
  package-lock.json
  package.json
Due: none

chore: remove Stylelint
  .lintstagedrc
  .stylelintrc
  package-lock.json
  package.json
Due: none

chore: remove unneeded comment in tailwind.config.js
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: remove background,theme color from manifest
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: add some fixes
  src/components/shared/seo/seo.jsx
  src/styles/fonts.css
  src/styles/main.css
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

fix: add some fixes
  README.md
  package-lock.json
  package.json
  src/html.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

refactor: fix typo
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

refactor: remove drone.yml
  .drone.yml
Due: none

docs: update README
  README.md
Due: prettier --write, stylelint --cache --fix --ignore-path .gitignore

chore: change the list of the recommended VSCode extensions
  .vscode/extensions.json
Due: none

refactor: reorganization
  src/components/shared/container/container.jsx
  src/components/shared/container/index.js
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/html.jsx
  src/images/pages/.gitkeep
  src/images/shared/.gitkeep
  src/styles/container.css
  src/styles/font-sizes.css
  src/styles/fonts.css
  src/styles/global.css
  src/styles/grid-gap.css
  src/styles/main.css
  src/styles/safe-paddings.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

feat: add components
  package-lock.json
  package.json
  src/components/shared/burger/burger.jsx
  src/components/shared/burger/index.js
  src/components/shared/button/button.jsx
  src/components/shared/button/index.js
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/heading/heading.jsx
  src/components/shared/heading/index.js
  src/components/shared/layout/layout.jsx
  src/components/shared/mobile-menu/index.js
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/pages/404.jsx
  src/styles/font-sizes.css
  src/styles/main.css
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

chore: upgrade dependencies
  .commitlintrc.json
  .eslintrc.js
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

chore: minor fix in lint-staged config
  .lintstagedrc
Due: none

build: set up Storybook
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  postcss.config.js
  src/components/shared/burger/burger.stories.jsx
  src/components/shared/button/button.stories.jsx
  src/components/shared/footer/footer.stories.jsx
  src/components/shared/header/header.stories.jsx
  src/components/shared/heading/heading.jsx
  src/components/shared/heading/heading.stories.jsx
  src/components/shared/link/link.jsx
  src/components/shared/link/link.stories.jsx
  src/components/shared/mobile-menu/mobile-menu.stories.jsx
  src/styles/safe-paddings.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

chore: upgrade dependencies back
  package-lock.json
  package.json
Due: none

fix: remove unneeded classes in Footer
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

fix: add some fixes
  .storybook/main.js
  package-lock.json
  package.json
  postcss.config.js
  src/styles/container.css
  src/styles/font-sizes.css
  src/styles/fonts.css
  src/styles/global.css
  src/styles/grid-gap.css
  src/styles/main.css
  src/styles/safe-paddings.css
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

docs: update README
  .storybook/main.js
  README.md
  package.json
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

feat: replace favicon and social preview
  .env.example
  src/images/favicon.png
  static/images/social-preview.jpg
Due: none

build: add fallback value for "siteUrl" in gatsby-config.js
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

docs: improve example of component structure in README
  README.md
Due: prettier --write, stylelint --cache --fix --ignore-path .gitignore

build: update tailwind.config.js
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

build: update gatsby-plugin-svgr-svgo configuration
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

refactor: delete font-sizes CSS file
  src/styles/font-sizes.css
  src/styles/main.css
Due: prettier --write, stylelint --cache --fix --ignore-path .gitignore

fix: add some fixes
  gatsby-config.js
  package-lock.json
  package.json
  static/_headers
Due: prettier --write, eslint --cache --fix

chore: fix dependencies
  package-lock.json
  package.json
Due: none

refactor: remove Storybook
  .storybook/main.js
  .storybook/preview.js
  README.md
  package-lock.json
  package.json
  src/components/shared/burger/burger.stories.jsx
  src/components/shared/button/button.stories.jsx
  src/components/shared/footer/footer.stories.jsx
  src/components/shared/header/header.stories.jsx
  src/components/shared/heading/heading.stories.jsx
  src/components/shared/link/link.stories.jsx
  src/components/shared/mobile-menu/mobile-menu.stories.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

feat: add WordPress integration
  .env.example
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/shared/layout/layout.jsx
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

fix: add some fixes
  README.md
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/shared/layout/layout.jsx
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

chore: set "no-undef" to "error" and turn off "react/forbid-prop-types" in ESLint config
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

feat: add Storybook integration
  .storybook/main.js
  .storybook/preview.js
  README.md
  package-lock.json
  package.json
  src/components/shared/burger/burger.stories.jsx
  src/components/shared/button/button.stories.jsx
  src/components/shared/footer/footer.stories.jsx
  src/components/shared/header/header.stories.jsx
  src/components/shared/heading/heading.stories.jsx
  src/components/shared/link/link.stories.jsx
  src/components/shared/mobile-menu/mobile-menu.stories.jsx
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

feat: remove "postcss-hover-media-feature"
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --write, eslint --cache --fix

build: add prettier-plugin-tailwindcss
  package-lock.json
  package.json
Due: none

build: update configuration for gatsby-plugin-svgr-svgo
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: upgrade dependencies
  package-lock.json
  package.json
Due: none

Revert "feat: remove "postcss-hover-media-feature""
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --write, eslint --cache --fix

feat: add some changes / coolstuff
  .lintstagedrc
  package.json
  src/styles/grid-gap.css
  src/styles/main.css
  src/styles/remove-autocomplete-styles.css
  src/styles/scrollbar-hidden.css
Due: prettier --write, stylelint --cache --fix --ignore-path .gitignore

style: format all files
  src/components/shared/burger/burger.jsx
  src/components/shared/layout/layout.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/pages/404.jsx
  src/styles/global.css
Due: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

feat: update Tailwind config
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --cache --fix --ignore-path .gitignore: any of: *.{css,sass,scss,md,html}
  markdownlint --fix --ignore-path .gitignore: any of: *.{md}
