Repository pixel-point/gatsby-tailwind-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore, markdownlint --fix --ignore-path .gitignore

fix: fix xs max breakpoint
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: upgrade dependencies
  package-lock.json
  package.json
Due: none

feat: remove component Heading
  src/components/shared/heading/heading.jsx
  src/components/shared/heading/index.js
  src/pages/404.jsx
Due: prettier --write, eslint --cache --fix

feat: remove plugin postcss-hover-media-feature
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --write, eslint --cache --fix

feat: leave only max breakpoints
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: delete dependency gatsby-plugin-netlify
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

chore: update dependencies
  package-lock.json
  package.json
Due: none

feat: update the extensions.json file
  .vscode/extensions.json
Due: none

feat: add settings.json part for the TODO extension
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: upgrade deps to latest version
  package-lock.json
  package.json
Due: none

chore: upgrade deps to latest version (03.05.22)
  package-lock.json
  package.json
Due: none

chore: upgrade deps to latest version except React (05.05.22)
  package-lock.json
  package.json
Due: none

chore: upgrade deps to latest version, except React (05.05.22)
  package-lock.json
  package.json
Due: none

chore: upgrade deps to latest version, except React (18.0.0)
  package-lock.json
  package.json
Due: none

build: set "trailingSlash" option to "always" in Gatsby config
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: fix typo in the header for fonts for Netlify
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: add minimal required versions for npm and node in package.json
  package-lock.json
  package.json
Due: none

feat: update component SEO
  src/components/shared/layout/layout.jsx
  src/components/shared/seo/seo.jsx
  src/pages/about.jsx
Due: prettier --write, eslint --cache --fix

feat: add siteUrl valid check in the component SEO
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

feat: add some fixes
  src/components/shared/seo/seo.jsx
  src/pages/404.jsx
Due: prettier --write, eslint --cache --fix

refactor: slug => pathname
  src/components/shared/layout/layout.jsx
  src/components/shared/seo/seo.jsx
  src/pages/404.jsx
  src/pages/about.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

chore: add DEPENDENCY_UPDATES.md
  DEPENDENCY_UPDATES.md
Due: prettier --write, stylelint --cache --fix --ignore-path .gitignore

chore: update DEPENDENCY_UPDATES.md
  DEPENDENCY_UPDATES.md
Due: prettier --write, stylelint --cache --fix --ignore-path .gitignore

fix: downgrade react
  .husky/.gitignore
  package-lock.json
  package.json
Due: none

chore: install gatsby-plugin-canonical-urls & enable trailingSlash
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

chore: replace backstick
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: deps update
  package-lock.json
  package.json
Due: none

chore: upgrade dependencies
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/shared/seo/seo.jsx
  src/pages/404.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

fix: remove seo from layout component
  src/components/shared/layout/layout.jsx
Due: prettier --write, eslint --cache --fix

chore: upgrade react to v18
  package-lock.json
  package.json
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

chore: update dependencies to latest version
  package-lock.json
  package.json
Due: none

chore: upgrade gatsby to v5
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --cache --fix --ignore-path .gitignore: any of: *.{css,sass,scss,md,html}
  markdownlint --fix --ignore-path .gitignore: any of: *.{md}
